.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

@media all and(max-width: 800px) {
    .flex-container {
        justify-content: flex-star
    }
}

.flex-item {
    width: 200px;
    height: 150px;
    background: tomato;
    color: whitesmoke;
    font-weight: bolde;
    font-size: 3em;
    text-align: center;
    line-height: 150px;   
}